<div class="container top-bg">
  <div class="row">
    <div class="text-center mt-5">
      <h5 class="mb-3">本当に退会しますか？</h5>
      <h5 class="mt-4">退会すると、会員登録情報や</h5>
      <h5>これまでの購入履歴が閲覧できなくなります。</h5>
      <h5>退会する場合は、「退会する」をクリックしてください。</h5>

      <%= link_to "退会しない", customer_path(@customer), class: "btn btn-primary col-2 mt-4" %>
      <%= link_to "退会する", withdraw_customer_path, data: {confirm: "本当に退会しますか？"}, method: :patch, class: "btn btn-danger col-2 offset-1 mt-4" %>
    </div>
  </div>
</div>